
main{
    width: 90vw;
    max-width: 26rem;
    background-image: linear-gradient(180deg, rgb(101, 137, 238) ,rgba(255, 255, 255, 0.473));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
}
